{% extends 'layout.html' %}

{% block title %}
    <div class="title-wrapper">
        <h1>
            About
        </h1>
    </div> 
{% endblock title %}

{% block content %}
    <div class="about-container">

        <p style="font-size: 20pt; margin:0;padding:0;">HEY!</p>
        <div style="float:left; padding:2.5rem;">
            <img class="profile-pic" src="{{url_for("static", filename="JCD_modern.png")}}"></img>
        </div>

        <span >
            I am openJCD. This website was created both so I could learn something, and for my DofE Skills Section. Generally I enjoy computer programming and rarely finish my projects, but hey, this is close enough. Enjoy the rest of the site and if you want, check out my <a href="https://github.com/openjcd/">GitHub</a> for updates on software I'm developing!   
        </span>
    </div>
{% endblock content %}