{% extends 'layout.html' %}

{% block title %}
    <div class="title-wrapper">
        <h1>
            Featured
        </h1>
    </div>
{% endblock title %}
{% block content %}
    <div class="grid-3x3">
        <div class="image-card">
            <img class="modal-thumbnail" src="\static\sunset_placeholder.JPG">
        </div>
        <div class="image-card">
            <img class="modal-thumbnail" src="\static\seagull_wales.JPG">
        </div>
        <div class="image-card">
            <img class="modal-thumbnail" src="\static\sunset_placeholder.JPG">
        </div>
        <div class="image-card">
            <img class="modal-thumbnail" src="\static\sunset_placeholder.JPG">
        </div>
        <div class="image-card">
            <img class="modal-thumbnail" src="\static\sunset_placeholder.JPG">
        </div>
        <div class="image-card">
            <img class="modal-thumbnail" src="\static\sunset_placeholder.JPG">
        </div>
    </div>
{% endblock content %}