{% extends 'layout.html' %}
{% block title %}
        
    <div class="title-wrapper">
        <h1>
            Here it all is! Welcome to my full showcase.
        </h1>
    </div>    

{% endblock title %}

{% block content %}
    <main class="grid-3x3">
    {% for post in all_posts %}
        <div class="modal" id="{{post.modal_id}}">
            <div> 
                <img class="modal-image" src="{{post.image_url}}">    
            </div>
            <div class="close-modal"><a href="#">&#x2715</a></div>
        </div>
        <div class="image-card">
            <a href="#{{post.modal_id}}">
                <img class="modal-thumbnail" src="{{post.image_url}}" >
            </a>
        </div>
    {% endfor %}

        
    </main>
{% endblock content %}